$border-width: 5px;
$border-color: black;

$active: #1a0315;
$related: #6e3667;
$unfilled: #535353;
$filled: #88d317;

.clear:after {
    display: block;
    content: "";
    clear: both;
}

.row {
}

.square {
    border: 1px solid $border-color;
    float:left;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}

.wrapper {
    border: $border-width - 1 solid $border-color;
    margin: 50px auto;
}

.active {
    border: $border-width solid $active;
}

.related {
    border: $border-width solid $related;
}

.unfilled {
    background: $unfilled;
}

.filled {
    background: $filled;
}